.header-wrapper {
  clear: both;
  color: var(--text-color);
  .top-header {
    font-size: 17.6px;
    height: 40px;
    background-color: #fff;
    .hallo-info {
      padding-top: 8px;
      text-align: right;
      padding-right: 60px;
      .hallo-role {
        font-size: 14.4px;
        font-weight: 500;
      }
      .numberphone {
        color: #0080c9;
        font-size: 16px;
        font-weight: 500;
        margin-right: 20px;
      }
      .web-name {
        font-size: 19.2px;
        color: var(--red-color);
        span {
          &:first-child {
            font-weight: lighter;
          }
          &:last-child {
            font-weight: 500;
          }
        }
      }
    }
  }
  .header-logo {
    height: 147px;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    .header-content {
      margin-left: 80px;
      .logo {
        display: flex;
        h1 {
          font-weight: lighter;
          color: #fff;
          padding-right: 8px;
        }
      }
    }
  }
}
