.input-custom {
  height: calc(1.5em + 0.75rem + 2px);
  width: 100%;
  border-radius: 16px;
  border: 1px solid #2d2721;
  padding: 6px 12px;
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    color: #d1d0d1;
  }
  &::-ms-input-placeholder {
    /* Edge 12-18 */
    color: #d1d0d1;
  }
}
