.login-content {
  height: calc(100vh - 187px);
  width: 100%;
  background-color: #854a97;
  .login-face {
    overflow: hidden;
    position: relative;
    img {
      position: absolute;
      height: 105%;
      top: -26px;
      left: 0px;
    }
  }
  .confirm-text {
    position: relative;
    h1 {
      margin-left: 0;
      line-height: 0.9em;
      font-weight: lighter;
      font-size: 80px;
      font-size: calc(1em + 2.2vw);
      color: #fff;
      position: absolute;
      bottom: 80px;
      right: -75px;
      width: 400px;
      line-height: 107%;
    }
  }
  .login-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    .login-form {
      position: absolute;
      transform: translateY(-53%);
      top: 53%;
      right: 14%;
      background-color: white;
      width: 350px;
      padding: 15px 30px 20px 30px;
      height: 91%;
      .or {
        text-align: center;
        font-weight: 500;
        margin: 10px 0 18px 0;
        font-size: 15px;
      }
      .sign-in-microsoft {
        text-align: center;
        button {
          background-color: #fff;
          border: 1px solid #ababab;
          width: 98%;
          height: calc(1.5em + 0.75rem + 2px);

          img {
            margin-top: -5px;
            width: 20px;
            margin-right: 10px;
          }
          span {
            font-weight: 500;
          }
        }
      }
    }
    h2 {
      font-size: 33px;
      color: #0080c9;
    }
    .input-item {
      .label {
        font-weight: 350;
        font-size: 14.5px;
        margin-bottom: 13px;
        margin-top: 20px;
      }
      &:first-child {
        margin-top: 10px;
      }
      &:nth-child(2) {
        margin-top: 18px;
      }
    }
    .forgot-pw {
      margin-top: 12px;
      button {
        border: 0;
        background: transparent;
        font-weight: bold;
        color: #e7343f;
        font-family: 'Serenity-Medium', 'Trebuchet MS', sans-serif;
        cursor: pointer;
        font-size: 14.3px;
        margin-left: -4px;
      }
    }
    .login-btn {
      margin-top: 10px;
      text-align: center;
      button {
        background-color: var(--red-color);
        border: 0;
        height: 44px;
        width: 117px;
        color: #fff;
        font-size: 19px;
        font-weight: 500;
        border-radius: 50px;
        margin: 30px 0;
        padding: 6px 0 9px 0;
      }
    }
  }
}

.row {
  margin: 0;
}

@media (min-width: 1700px) {
  .login-content {
    .login-wrapper .login-form {
      height: 65%;
      top: 46%;
    }
    .confirm-text h1 {
      right: -190px;
      bottom: 55px;
    }
    .login-face img {
      position: absolute;
      height: 97%;
      bottom: 0;
      left: 0px;
      top: unset;
    }
  }
}
